@model cimri.Models.VwCategory
@{
    ViewBag.Title = "Category";
}

@Styles.Render("~/Public/css/categoty1.css")


<section id="mainarea">
    <div class="container">
        <br />

        <div class="row">
            <!-- Navigation -->
            <div class="col-xl-3">
                <div class="navigation-wrapper">
                    <div class="nav-box">
                        <h1>@Model.Category.Name</h1>
                        <h2>@Model.Category.Name üçün ən ucuz qiymətlər</h2>
                        <span id="cnt" style="letter-spacing: 1px;">@Model.CategotyItemCount məhsul göstərilir</span>
                    </div>
                    @if (Model.HasChildren == true)
                    {
                        <div class="nav-box">
                            <ul>
                                @foreach (var item in Model.Subcategories)
                                {
                                    <li>
                                        <a href="@Url.Action("category","home",new { id=item.SubCategory.id})" class="d-flex justify-content-between" data-id="@item.SubCategory.id">
                                            <p class="ml-text">@item.SubCategory.Name</p>
                                            <span class="ml-count">(@item.ItemsCount)</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="nav-box">
                            <h1>Qiymət aralığı</h1>
                            <br>
                            <div class="wrapper-fp d-flex justify-content-between align-items-center">
                                <input type="number" name="minPriceText" value placeholder="Min" style="max-width:65px;"
                                       autocomplete="off" class="price">
                                <span>-</span>
                                <input type="number" name="maxPriceText" value placeholder="Max" style="max-width:65px;"
                                       autocomplete="off" class="price">
                                <a href="">
                                    <i class="fas fa-arrow-circle-right"></i>
                                </a>
                            </div>
                            <br>


                            <ul class="filterr">
                                @foreach (var value in Model.Filters.FirstOrDefault(x => x.id == 6).FilterValues)
                                {
                                    <li>
                                        <a data-id="@value.Filter.id" class="">
                                            <input type="checkbox" class="filter-chk" onchange="Filter(@value.id)" data-id="@value.id" autocomplete="off" size="35">
                                            <span class="filter-chk-mid">
                                                @value.SatrValue @if (value.IsSingle == false)

                                                {
                                                    @("-");
                                                    @value.EndValue;
                                                    if (!string.IsNullOrEmpty(value.Prefix))
                                                    { @(" ");
                                                    @value.Prefix}


                                            }
                                            </span>

                                            <span class="filter-chk-right">(1)</span>
                                        </a>
                                    </li>
                                }
                            </ul>


                        </div>

                        foreach (var item in Model.Filters.Where(x => (x.id != 6) & (x.IsFiltered == true)))
                        {
                            <div data-id="@item.id" class="nav-box fltr">
                                <h1>@item.Name</h1>
                                <br>
                                <div class="wrapper-fp d-flex justify-content-between align-items-center">
                                    <input type="text" autocomplete="off" value placeholder="@item.Name yaz" class="price">
                                </div>
                                <br>
                                <ul class="filterr">
                                    @foreach (var value in item.FilterValues)
                                    {
                                        <li>
                                            <a data-id="@value.Filter.id" class="">
                                                <input type="checkbox" class="filter-chk" onchange="Filter(@value.id)" data-id="@value.id" autocomplete="off" size="35">
                                                <span class="filter-chk-mid">
                                                    @value.SatrValue @if (value.IsSingle == true)
                                                    {@(" ");@value.Prefix;
                                                } @if (value.IsSingle == false)

                                                    {
                                                        @("-");
                                                        @value.EndValue;
                                                        if (!string.IsNullOrEmpty(value.Prefix))
                                                        { @(" ");
                                                        @value.Prefix}


                                                }
                                            </span>

                                            <span class="filter-chk-right">(@value.ItemsCount)</span>
                                        </a>
                                    </li>
                                }

                                </ul>
                            </div>
                        }

                    }
                    <div class="nav-box">
                        <div class="banner-navbox"></div>
                        <div class="banner-navbox"></div>
                        <div class="banner-navbox"></div>
                        <div class="banner-navbox"></div>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <div class="col-xl-9 forfilter">
                <div class="row " style="background-color:white; padding: 5px 0; margin-top:0px!important">
                    <div class="col-lg-3">
                        <a href="">
                            <div class="area-wrapper">
                                <img src="~/Public/img/category1/promo-main/1.jpg" alt="">
                                <span>Samsung Galaxy Note 9</span>

                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="">
                            <div class="area-wrapper">
                                <img src="~/Public/img/category1/promo-main/2.jpg" alt="">
                                <span>Amazon noutbukları</span>

                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="">
                            <div class="area-wrapper">
                                <img src="~/Public/img/category1/promo-main/3.jpg" alt="">
                                <span>Tozsoranlar</span>

                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="">
                            <div class="area-wrapper" style="margin-right: 5px;">
                                <img src="~/Public/img/category1/promo-main/4.jpg" alt="">
                                <span>Playstation 4</span>

                            </div>
                        </a>
                    </div>
                </div>

                <div class="row filter filters" style="background-color:white;">
                    <div class="col-lg-9 ">
                        <a class="result-filter-selected" href="">Ən Ppopulyar Məhsullar</a>
                        <a class="result-filter" href="">Ən Ucuz Məhsullar</a>
                        <a class="result-filter" href="">Ən yeni məhsullar</a>
                    </div>
                    <div class="col-lg-3 text-right">
                        <i class="fab fa-microsoft blue"></i>
                        <i class="fas fa-sort-amount-down gray"></i>
                    </div>
                </div>

                @* Items First row *@
                <div class="row">
                    @foreach (var item in Model.Items.Take(4))
                    {
                        <a class="go-to-item" onclick="Local(this)" data-id="@item.id" href="@Url.Action("item","home", new { id=item.id})">
                            <div class="col-lg-3 item">
                                <div class="card card-item">
                                    <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Name</h5>
                                        @foreach (var item2 in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                        {
                                            <a class="link-merch" href="">
                                                <div class="source">@item2.Merch.Link</div>
                                                <div class="merch-price">@item2.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                            </a>
                                        }

                                        <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }

                </div>
                <div class="row pt-2">
                    <div class="col-lg-12">
                        <div class="banner-ads">
                        </div>
                    </div>
                </div>
                @* Items Second row *@
                <div class="row pt-2">
                    @foreach (var item in Model.Items.Skip(4).Take(4))
                    {
                        <a class="go-to-item" onclick="Local(this)" data-id="@item.id" href="@Url.Action("item","home", new { id=item.id})">
                            <div class="col-lg-3 item">
                                <div class="card card-item">
                                    <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Name</h5>
                                        @foreach (var item2 in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                        {
                                            <a class="link-merch" href="">
                                                <div class="source">@item2.Merch.Link</div>
                                                <div class="merch-price">@item2.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                            </a>
                                        }

                                        <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
                <br>
                <div class="row owl-carousel categories-carousel " style="background-color:white; padding: 5px 0;">
                    <div class="promo-wrapper ">
                        <a href="">
                            <div class="area-wrapper d-flex justify-content-center align-items-center">
                                <img src="~/Public/img/category1/promo-main/1.jpg" alt="">
                                <span>Samsung Galaxy Note 9</span>

                            </div>
                        </a>
                    </div>

                    <div class="promo-wrapper ">
                        <a href="">
                            <div class="area-wrapper d-flex justify-content-center align-items-center">
                                <img src="~/Public/img/category1/promo-main/2.jpg" alt="">
                                <span>Amazon noutbukları</span>

                            </div>
                        </a>
                    </div>
                    <div class="promo-wrapper ">
                        <a href="">
                            <div class="area-wrapper d-flex justify-content-center align-items-center">
                                <img src="~/Public/img/category1/promo-main/3.jpg" alt="">
                                <span>Tozsoranlar</span>

                            </div>
                        </a>
                    </div>
                    <div class="promo-wrapper ">
                        <a href="">
                            <div class="area-wrapper d-flex justify-content-center align-items-center" style="margin-left:5px;">
                                <img src="~/Public/img/category1/promo-main/4.jpg" alt="">
                                <span>Playstation 4</span>

                            </div>
                        </a>
                    </div>
                    <div class="promo-wrapper ">
                        <a href="">
                            <div class="area-wrapper d-flex justify-content-center align-items-center">
                                <img src="~/Public/img/category1/promo-main/3.jpg" alt="">
                                <span>Tozsoranlar</span>

                            </div>
                        </a>
                    </div>
                    <div class="promo-wrapper ">
                        <a href="">
                            <div class="area-wrapper d-flex justify-content-center align-items-center">
                                <img src="~/Public/img/category1/promo-main/1.jpg" alt="">
                                <span>Samsung Galaxy Note 9</span>

                            </div>
                        </a>
                    </div>
                </div>
                @* Items Third row *@
                <div class="row pt-2">
                    @foreach (var item in Model.Items.Skip(8).Take(4))
                    {
                        <a class="go-to-item" href="@Url.Action("item", "home", new {id=item.id })">
                            <div class="col-lg-3 item">
                                <div class="card card-item">
                                    <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Name</h5>
                                        @foreach (var item2 in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                        {
                                            <a class="link-merch" href="">
                                                <div class="source">@item2.Merch.Link</div>
                                                <div class="merch-price">@item2.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                            </a>
                                        }

                                        <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
                @* Items Fourth row *@
                <div class="row pt-2">
                    @foreach (var item in Model.Items.Skip(12).Take(4))
                    {
                        <a class="go-to-item" onclick="Local(this)" data-id="@item.id" href="@Url.Action("item","home", new {id=item.id })">
                            <div class="col-lg-3 item">
                                <div class="card card-item">
                                    <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Name</h5>
                                        @foreach (var item2 in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                        {
                                            <a class="link-merch" href="">
                                                <div class="source">@item2.Merch.Link</div>
                                                <div class="merch-price">@item2.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                            </a>
                                        }

                                        <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>

                @* Items Fiveth row  *@
                @if (Model.Items.Count > 16)
                {
                    <div class="row pt-2">
                        @foreach (var item in Model.Items.Skip(16).Take(4))
                        {
                            <a class="go-to-item" onclick="Local(this)" data-id="@item.id" href="@Url.Action("item", "home", new { id=item.id})">
                                <div class="col-lg-3 item">
                                    <div class="card card-item">
                                        <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Name</h5>
                                            @foreach (var item2 in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                            {
                                                <a class="link-merch" href="">
                                                    <div class="source">@item2.Merch.Link</div>
                                                    <div class="merch-price">@item2.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                                </a>
                                            }

                                            <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                }

                @* Items Sixth row *@
                @if (Model.Items.Count > 20)
                {
                    <div class="row pt-2">
                        <div class="promo2-wrapper">
                            <div class="banner-promo2"></div>
                            <div class="banner-promo2"></div>
                            <div class="banner-promo2"></div>
                        </div>
                    </div>
                    <div class="row pt-2">
                        @foreach (var item in Model.Items.Skip(20).Take(4))
                        {
                            <a class="go-to-item" onclick="Local(this)" data-id="@item.id" href="@Url.Action("item", "home", new { id=item.id})">
                                <div class="col-lg-3 item">
                                    <div class="card card-item">
                                        <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Name</h5>
                                            @foreach (var item2 in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                            {
                                                <a class="link-merch" href="">
                                                    <div class="source">@item2.Merch.Link</div>
                                                    <div class="merch-price">@item2.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                                </a>
                                            }

                                            <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                }
                @* Items Seventh row *@
                @if (Model.Items.Count > 24)
                {
                    <div class="row pt-2">
                        @foreach (var item in Model.Items.Skip(24).Take(4))
                        {
                            <a class="go-to-item" onclick="Local(this)" data-id="@item.id" href="@Url.Action("item", "home", new { id=item.id})">
                                <div class="col-lg-3 item">
                                    <div class="card card-item">
                                        <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Name</h5>
                                            @foreach (var item2 in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                            {
                                                <a class="link-merch" href="">
                                                    <div class="source">@item2.Merch.Link</div>
                                                    <div class="merch-price">@item2.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                                </a>
                                            }

                                            <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                }
                @* Items Eigths *@
                @if (Model.Items.Count > 28)
                {
                    <div class="row pt-2">
                        @foreach (var item in Model.Items.Skip(28).Take(4))
                        {
                            <a class="go-to-item" onclick="Local(this)" data-id="@item.id" href="@Url.Action("item", "home", new { id=item.id})">
                                <div class="col-lg-3 item">
                                    <div class="card card-item">
                                        <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Name</h5>
                                            @foreach (var item2 in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                            {
                                                <a class="link-merch" href="">
                                                    <div class="source">@item2.Merch.Link</div>
                                                    <div class="merch-price">@item2.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                                </a>
                                            }

                                            <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                }
                @* Items Nineth row *@
                @if (Model.Items.Count > 32)
                {
                    <div class="row pt-2">
                        @foreach (var item in Model.Items.Skip(32).Take(4))
                        {
                            <a class="go-to-item" onclick="Local(this)" data-id="@item.id" href="@Url.Action("item", "home", new { id=item.id})">
                                <div class="col-lg-3 item">
                                    <div class="card card-item">
                                        <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Name</h5>
                                            @foreach (var item2 in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                            {
                                                <a class="link-merch" href="">
                                                    <div class="source">@item2.Merch.Link</div>
                                                    <div class="merch-price">@item2.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                                </a>
                                            }

                                            <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                }
                <div class="row pt-2">
                    <div class="col-lg-12">
                        <div class="paging">
                            @if (Model.PagesCount < 7)
                            {
                                if (Model.PagesCount == 1)

                                {
                                    <a><i class="fas fa-angle-left"></i></a>
                                    <a class="active-page" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =Model.CurrentPage-1 }))">1</a>
                                    <a><i class="fas fa-angle-right"></i></a>
                                }
                                if (Model.PagesCount == 2)
                                {
                                    <a @if (Model.CurrentPage == 1) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage - 1 })) }><i class="fas fa-angle-left"></i></a>
                                    <a class="@if (Model.CurrentPage==1) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =1 })">1</a>
                                    <a class="@if (Model.CurrentPage==2) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =2 })">2</a>
                                    <a @if (Model.CurrentPage == Model.PagesCount) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage + 1 })) }><i class="fas fa-angle-right"></i></a>
                                }
                                if (Model.PagesCount == 3)
                                {
                                    <a @if (Model.CurrentPage == 1) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage - 1 })) }><i class="fas fa-angle-left"></i></a>
                                    <a class="@if (Model.CurrentPage==1) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =1 })">1</a>
                                    <a class="@if (Model.CurrentPage==2) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =2 })">2</a>
                                    <a class="@if (Model.CurrentPage==3) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =3 })">3</a>
                                    <a @if (Model.CurrentPage == Model.PagesCount) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage + 1 })) }><i class="fas fa-angle-right"></i></a>
                                }

                                if (Model.PagesCount == 4)
                                {
                                    <a @if (Model.CurrentPage == 1) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage - 1 })) }><i class="fas fa-angle-left"></i></a>
                                    <a class="@if (Model.CurrentPage==1) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =1 })">1</a>
                                    <a class="@if (Model.CurrentPage==2) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =2 })">2</a>
                                    <a class="@if (Model.CurrentPage==3) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =3 })">3</a>
                                    <a class="@if (Model.CurrentPage==4) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =4 })">4</a>
                                    <a @if (Model.CurrentPage == Model.PagesCount) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage + 1 })) }><i class="fas fa-angle-right"></i></a>
                                }
                                if (Model.PagesCount == 5)
                                {
                                    <a @if (Model.CurrentPage == 1) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage - 1 })) }><i class="fas fa-angle-left"></i></a>
                                    <a class="@if (Model.CurrentPage==1) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =1 })">1</a>
                                    <a class="@if (Model.CurrentPage==2) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =2 })">2</a>
                                    <a class="@if (Model.CurrentPage==3) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =3 })">3</a>
                                    <a class="@if (Model.CurrentPage==4) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =4 })">4</a>
                                    <a class="@if (Model.CurrentPage==5) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =5 })">5</a>
                                    <a @if (Model.CurrentPage == Model.PagesCount) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage + 1 })) }><i class="fas fa-angle-right"></i></a>
                                }

                                if (Model.PagesCount == 6)
                                {
                                    <a @if (Model.CurrentPage == 1) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage - 1 })) }><i class="fas fa-angle-left"></i></a>
                                    <a class="@if (Model.CurrentPage==1) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =1 })">1</a>
                                    <a class="@if (Model.CurrentPage==2) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =2 })">2</a>
                                    <a class="@if (Model.CurrentPage==3) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =3 })">3</a>
                                    <a class="@if (Model.CurrentPage==4) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =4 })">4</a>
                                    <a class="@if (Model.CurrentPage==5) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =5 })">5</a>
                                    <a class="@if (Model.CurrentPage==6) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =5 })">6</a>
                                    <a @if (Model.CurrentPage == Model.PagesCount) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage + 1 })) }><i class="fas fa-angle-right"></i></a>
                                }
                            }
                            else
                            {
                                if (Model.CurrentPage == 1 || Model.CurrentPage == 2 || Model.CurrentPage == 3)
                                {
                                    <a @if (Model.CurrentPage == 1) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage - 1 })) }><i class="fas fa-angle-left"></i></a>
                                    <a class="@if (Model.CurrentPage==1) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =1 })">1</a>
                                    <a class="@if (Model.CurrentPage==2) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =2 })">2</a>
                                    <a class="@if (Model.CurrentPage==3) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =3 })">3</a>
                                    <a class="@if (Model.CurrentPage==4) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =4 })">4</a>
                                    <a class="page">...</a>
                                    <a class="@if (Model.CurrentPage==Model.PagesCount) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =Model.PagesCount })">@Model.PagesCount</a>
                                    <a @if (Model.CurrentPage == Model.PagesCount) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage + 1 })) }><i class="fas fa-angle-right"></i></a>
                                }

                                else if (Model.CurrentPage == Model.PagesCount || Model.CurrentPage == Model.PagesCount - 1 || Model.CurrentPage == Model.PagesCount - 2)
                                {
                                    <a @if (Model.CurrentPage == 1) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage - 1 })) }><i class="fas fa-angle-left"></i></a>
                                    <a class="@if (Model.CurrentPage==1) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =1 })">1</a>
                                    <a class="page">...</a>
                                    <a class="@if (Model.CurrentPage==Model.PagesCount-3) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =Model.PagesCount-3 })">@Model.PagesCount-3</a>
                                    <a class="@if (Model.CurrentPage==Model.PagesCount-2) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =Model.PagesCount-2})">@Model.PagesCount-2</a>
                                    <a class="@if (Model.CurrentPage==Model.PagesCount-1) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =Model.PagesCount-1 })">@Model.PagesCount-1</a>
                                    <a class="@if (Model.CurrentPage==Model.PagesCount) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =Model.PagesCount })">@Model.PagesCount</a>
                                    <a @if (Model.CurrentPage == Model.PagesCount) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage + 1 })) }><i class="fas fa-angle-right"></i></a>
                                }

                                else
                                {
                                    <a @if (Model.CurrentPage == 1) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage - 1 })) }><i class="fas fa-angle-left"></i></a>
                                    <a class="@if (Model.CurrentPage==1) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =1 })">1</a>
                                    <a class="page">...</a>
                                    <a class="page" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =Model.CurrentPage-1 })">@Model.CurrentPage-1</a>
                                    <a class="active-page" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =Model.CurrentPage})">@Model.CurrentPage</a>
                                    <a class="page" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =Model.CurrentPage-1 })">@Model.CurrentPage+1</a>
                                    <a class="page">...</a>
                                    <a class="@if (Model.CurrentPage==Model.PagesCount) {@("active-page") } else { @("page")}" href="@Url.Action("category","home", new {id=Model.Category.id, pageId =Model.PagesCount })">@Model.PagesCount</a>
                                    <a @if (Model.CurrentPage == Model.PagesCount) { } else { @Html.Raw("href=" + Url.Action("category", "home", new { id = Model.Category.id, pageId = Model.CurrentPage + 1 })) }><i class="fas fa-angle-right"></i></a>
                                }
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header of category -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-header">Məhsula aid Xüsusi Təkliflər</h3>
            </div>
        </div>
        <!-- Pupular items 1 carousel -->
        <div class="row">

            <div class="owl-carousel popular">
                <div style="width:234px">
                    <div class="card card-item">
                        <img src="~/Public/img/items/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                            <a class="link-merch" href="">
                                <div class="source">amazon.com.tr</div>
                                <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                            </a>
                            <a href=""></a>
                            <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                        </div>
                    </div>
                </div>
                <div style="width:234px">
                    <div class="card card-item">
                        <img src="~/Public/img/items/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                            <a class="link-merch" href="">
                                <div class="source">amazon.com.tr</div>
                                <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                            </a>
                            <a href=""></a>
                            <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                        </div>
                    </div>
                </div>

                <div style="width:234px">
                    <div class="card card-item">
                        <img src="~/Public/img/items/4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                            <a class="link-merch" href="">
                                <div class="source">amazon.com.tr</div>
                                <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                            </a>
                            <a href=""></a>
                            <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                        </div>
                    </div>
                </div>
                <div style="width:234px">
                    <div class="card card-item">
                        <img src="~/Public/img/items/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                            <a class="link-merch" href="">
                                <div class="source">amazon.com.tr</div>
                                <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                            </a>
                            <a href=""></a>
                            <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                        </div>
                    </div>
                </div>
                <div style="width:234px">
                    <div class="card card-item">
                        <img src="~/Public/img/items/3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                            <a class="link-merch" href="">
                                <div class="source">amazon.com.tr</div>
                                <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                            </a>
                            <a href=""></a>
                            <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                        </div>
                    </div>
                </div>
                <div style="width:234px">
                    <div class="card card-item">
                        <img src="~/Public/img/items/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                            <a class="link-merch" href="">
                                <div class="source">amazon.com.tr</div>
                                <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                            </a>
                            <a href=""></a>
                            <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.SiteSelected.Count > 0)
        {
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-header">Cimrinin seçimi </h3>
                </div>
            </div>
            <!-- Our selection slider -->
            <div class="row">

                <div class="owl-carousel popular">
                    @foreach (var item in Model.SiteSelected)
                    {
                        <div style="width:234px">
                            <a class="go-to-item" href="@Url.Action("item","index", new {id=item.id })" data-id="@item.id" onclick="Local(this)">
                                <div class="card card-item">
                                    <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title card-title-x">@item.Name</h5>
                                        @foreach (var merch in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                        {
                                            <a class="link-merch" href="">
                                                <div class="source">@merch.Merch.Link</div>
                                                <div class="merch-price">@merch.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                            </a>
                                        }

                                        <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }

                </div>
            </div>
        }

        @* Recently viewed by user *@
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-header">Son baxdığınız məhsullar</h3>
            </div>
        </div>


        <div id="recently" class="row d-none">
            <div class="owl-carousel popular" id="pop">
            </div>

        </div>
        <div class="row d-none" id="prepop">

        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h6 class="faq-h">
                    Elektronik Kategorisi Hangi Ürünleri Kapsamaktadır?
                </h6>
                <p class="faq-p">
                    Elektriğin keşfedilmesi ile birlikte dünyada çok büyük bir değişim olmuştur ve dünya çağ
                    atlamıştır. Bu çağ atlama ile birlikte çok büyük yenilikler olmuş ve dünyada elektrik devri
                    başlamıştır. Bu bağlamda çok kaliteli ürünler geliştirilmiş ve hayat artık elektriksiz yaşanmaz
                    hale gelmiştir. Elektronik elektrik ile çalışan cihazları kapsayan bir daldır ve bu dalda
                    birçok alana ayrılmaktadır. Elektronik modern dünyada en önemli alanlardan bir tanesidir. Artık
                    elektriksiz neredeyse yaşamak imkânsız hale gelmiştir. Her şey bir şekilde dolaylı olarak
                    elektriğe bağlıdır. Bu yüzden elektronik alanının kapsadığı cihaz sayısı çok fazladır.
                    Elektroniğin dalları düşünüldüğünde bir hayli fazla elektronik ürün bulunmaktadır. Elektroniğin
                    kapsadığı ürünleri saymaya başlasak tüm yazıyı bu ürünlere ayırmamız gerekebilir fakat biz size
                    daha çok e- ticarette popüler olarak alınıp satılan ürünlerden bahsedeceğiz.
                </p>
                <p class="faq-p">
                    Hobi Elektroniği bu alanda genelde tamir için bir yerleri takıp sökmek için kullandığınız
                    cihazlar ön plandadır. Hobilerinizin tamire dayalı olması durumunda bu kategori sizi oldukça
                    mutlu edecektir. Bu kategoride el motorları, kalınlık planyaları, hobby setleri, ahşap kesme
                    bıçakları, direnç ölçü aletleri, ahşap oyma aletleri, ahşap torna bıçak setleri, ahşap oyma
                    bıçak setleri, hobi makineleri gibi birçok makine bulunmaktadır. Ses Kayıt Cihaz Elektroniği,
                    ses kaydı çağımızda oldukça önemli bir yerdedir. Bu bağlamda birçok ürün geliştirilmiş ve
                    geliştirilmektedir. Bu kategoride bu alanda ihtiyaçlarınıza uygun ürünleri bulmanız mümkün.
                    Yazarkasa Elektroniği, yazarkasalar özellikle aktif olarak ticarette uğraşan kişiler için
                    vazgeçilmez ürünlerdir bu kategoride birçok ürünü bulabilirsiniz. Yazarkasa-Pos Elektroniği,
                    özellikle sipariş ve ticari faaliyetlerde aktif olarak bulunan kişilerin olmazsa olmazlarından
                    olan pos cihazları sizler için bu kategoride derlenmiştir. Elektronik Sözlük Elektroniği,
                    yabancı diller bazen herkesi zorlamaktadır. Firmalar insanların bilmedikleri dilleri
                    kendilerini zorlamaması için elektronik sözlükler üreterek insanların bu durumlardan
                    kurtulmalarını ve anında kelime dağarcıklarını geliştirmelerini amaçlamıştır bu kategori size
                    çok şey katacak.
                </p>
                <h6 class="faq-h">
                    Elektronik Ev Aletleri Grubuna Hangi Ürünler Girmektedir?
                </h6>
                <p class="faq-p">
                    Elektrikli ev aletleri yani elektronik ev aletleri birçok çeşitte bulunmaktadır. Bu aletler
                    vasıtası ile hayatımız kolaylaşmakta birçok işimizi rahatça görebilmekteyiz. Hayatımızda çok
                    önemli bir yardımcılar. Birçok alanda imdadımıza yetişiyorlar. Öncelikle elektronik aletlerin
                    başında bilgisayarlar gelmektedirler bilgisayarlar artık modern çağda ekmek su gibi ihtiyaçlar
                    arasında yer almaktadır. Birçok işlev, görev, eğlence, hobi, müzik gibi aktiviteler
                    bilgisayarlar sayesinde yapılmaktadır. Bilgisayarlar okul hayatında da aktif olarak
                    kullanılmaktadır. Çeşitli ofis programları ile bizleri desteklemektedirler. Ev aletleri
                    arasında ilk sıralarda yer almaktadırlar. Bilgilerinizi depolar, hayatınızın birçok işlevinizi
                    yapacağız internete girmenize vesile olur. Blenderler ise özellikle mutfaklarda hanımların
                    imdadına yetişen özel çalışanları gibidirler. Özel yemekler yapmaları ve değişik meyve sebze
                    parçalama işlemlerinde imdatlarına yetişirler. Gıdalarını karıştırmak ve parçalamak için
                    hanımların ve ev işleri yapanların yardımcılarıdır. Bulaşık makineleri ise hayatı
                    kolaylaştırmakta özellikle ev hanımlarının korkulu rüyası olan bulaşıkları yıkamasında
                    inanılmaz bir destek sağlarlar. Hanımların teknolojik aletler içerisinde en sevdiği
                    yardımcılardan bir tanesidir. Yıkama kurutma yapması ile adeta hanımların evladı gibidirler.
                    Bulaşıkları yıkamada büyük bir destektir. Buzdolapları ise yardımcı olmaktan çok ihtiyaçtır.
                    Buzdolabı olmayan bir ev neredeyse yoktur. Çünkü yiyecekleri muhafaza etmede içecekleri
                    korumada meyve sebze gibi yiyecekleri saklamada buzdolabı hayati görevler sağlar. Bu yüzden
                    oldukça önemlidir. Çamaşır makinesi bir evde olması gereken demirbaşlardan bir tanesidir. Çünkü
                    artık elle yıkama diye bir şey kalmamıştır. Evlenen çiftlerin çamaşır makinesi tercihi her
                    zaman olmuştur ve olacaktır. Her bireyin de çamaşır makinesine ihtiyacı vardır. Çamaşır
                    makinesi teknolojisi oldukça gelişmiştir muhteşem yıkamalar sağlamakta ve kapasite olarak çok
                    ilerlemektedirler. Çamaşırlarınızı yıkamada çok büyük destek olurlar. Elektrik süpürgesi
                    olmayan bir ev toza ve pisliğe mahkûm bir ev demektir. Elektrik süpürge teknolojisi oldukça
                    gelişmiştir. Hatta su ile çalışan ve tozları sulandırarak temizleyen kaliteli süpürgeler ortaya
                    çıkmıştır. Tozları ve çok büyük olmayan pislikleri temizlemede kadınların temizlikte en önemli
                    yardımcıları arasındadır. Yemeksiz böreksiz pastasız bir ev hayat damarlarından birisinin
                    koptuğu bir evdir. Bu yüzden fırın olmazsa olmaz ev elektronik aletleri arasındadır. Birçok
                    lezzetli yemek börek ve değişik pişirme çalışmalarınıza destek olur. Hayatınızı kolaylaştırmada
                    oldukça yardımcıdır. Elektronik ısıtıcılar ise kombi yakılmadığı veya ısınma problemleri
                    yaşadığınız zamanlar size destek olmak ve sıkıntılarınızı bitirmek ısınızı korumak amacı ile
                    üretilmiş etkili elektronik aletlerdir. Kahve birçok insanın vazgeçemediği içecekler
                    arasındadır. Kahve makinesi ise size sürekli kahve içmek için destek olan bağımlılığınızı
                    yatıştırmaya destek olan ürünlerden bir tanesidir. Meyve suyu ürünleri bir sürüdür fakat doğal
                    ve katkısız meyve suyu içmek herkesin isteğidir katı meyve sıkacağı size bunu sağlayacak. Çay
                    içmek, yemek pişirmek, bulaşık yıkamak için ihtiyacınız olan şey suyu ısıtmak için bir Kettle
                    olacaktır. Ortamın ısısı her zaman çok önemlidir bu ısının sabit olması ve optimum sıcaklıkta
                    olması sağlığımız ve hasta olmamak açısından önemlidir klima bu işi gören çok büyük bir
                    yardımcıdır. Artık doğalgazsız ev az kalmıştır. Bu yüzden sularımızı ısıtan kombileri unutmamak
                    lazım. Çamaşırları yıkadıktan sonra kurumasını istiyorsanız bir kurutma makinesi edinmeniz
                    yerinde olacaktır. Soğuyan yemekleriniz ve bazı yemek türlerini pişirmek için mikrodalga fırın
                    harika bir seçenek olacaktır. Mikser ise özellikle pasta börek türü yiyecekleri yaparken
                    karıştırmaya yarayan bir elektronik alettir. Saç kurutma makinesi banyodan sonra veya saçları
                    şekil aldırmada saçları kurutarak sizi rahatlatır. Televizyon hayatımızın her anında bizimle
                    olan sürekli olarak kopamadığımız elektronik bir alettir.
                </p>
                <h6 class="faq-h">Elektronik Alet Kullanımında Uyulması Gereken Temel Kurallar Nelerdir?</h6>
                <p class="faq-p">
                    Evimizde kullandığımız birçok ev aletleri işlerimizi kolaylaştırmaktadır. Teknoloji ilerledikçe
                    evimiz elektronik aletler ile doluyor. Yıllardır kullandığımız ürünler yerini daha yeni ve daha
                    teknolojik aletlere bırakıyor. Bazen eskiler eskiyip bozulduğu için bazen de yeni modellerin
                    daha çok işimizi göreceği nedeni ile yenileri tercih ediyoruz. Cihazların uzun ömürlü olması
                    için bazı talimatlara dikkat etmenizde yarar vardır. Aldığınız cihazın öncelikle kullanma
                    talimatını okuyunuz ve ona göre kullanım yapınız. Ayrıca temizliklerine dikkat ediniz. Yeni bir
                    cihaz satın alacaksınız A sınıfı bir ürün almanız uzun vadede size oldukça destek sağlar çünkü
                    yüzde 30 oranında elektrik tüketiminden tasarruf ederler. Kullanılan cihazların bozulmalarını
                    beklemeden rutin bakımları yapılmalıdır. Yılda en az bir kez motor kontrol ettirilmelidir.
                    Ayrıca toz ve benzeri kirler kişisel olarak temizlenmelidir. Elektrikli ocak kullanırken pişme
                    süresine çok az süre kaldı ise örneğin 1-2 dakika ocağı kapatarak ısıdan kazanabilirsiniz.
                    Küçük fırınları tercih etmeniz yararınıza olacaktır. Elektrik süpürgenizi sık sık temizleyin ve
                    torbası dolunca değiştirin. Islak kullandığınız süpürgeleri her kullanım sonrası temizleyip
                    kurulayın. Mikro dalgada ısıtma ve pişirme yaparsanız yüzde elli oranında enerjiden tasarruf
                    edersiniz. Çamaşırların düzgün şekilde askıya asarak ve nemli iken ütüleyerek daha az enerji
                    harcayın. Buzdolabı kapısını sık sık açıp kapatmayın, içerideki ısı kaybına neden olarak
                    soğutma işlemi için daha fazla enerji harcanması gerekir. Buzdolabınızı ısı sağlayan eşyalardan
                    uzağa koyun en az 15 santimetre olacak şekilde. Bulaşık ve çamaşır makineleri tam dolmadan
                    çalıştırmayın. Çamaşır makinesi kullanımı yaparken kapasitesini aşmayınız. Kapasitesinin
                    altında kullanımlarda ise uygun programı seçiniz. Gerekmedikçe yüksek sıcaklıkta yıkama
                    yapmayın. PC, monitör, yazıcı gibi cihazları kullanmadığınız zamanlarda enerji kaynaklarından
                    çıkarın. Bu nedenle kullanmadığınız zamanlarda tüm elektronik aletleri prizden çekin ve
                    kapatın.
                </p>
                <h6 class="faq-h">
                    Elektronik Ev Eşyalarının Ömrünü Uzatmak İçin Neler Yapılmalıdır?
                </h6>
                <p class="faq-p">
                    Bulaşık Makineleri için mutfak eşyalarını makineye yerleştirirken eşyaları yüzleri dönük olarak
                    değil de sırt kısımları görünecek şekilde koyun. Makineye bulaşıkları koymadan önce üstündeki
                    artıkları temizleyin. Ayrıca bulaşık deterjanı olarak sıvı deterjan kullanın. Mikrodalga Fırın
                    kullanırken sadece içerisine girebilecek eşyaları sokunuz. Örneğin metal aksamları uzak
                    tutunuz. Yemeği çok fazla ısıtmak da mikro dalgaya zarar verebilmektedir. Mikrodalgayı
                    kullanmadan önce yemek artıkları ve yağları temizleyin. Ekmek Kızartma Makinesi kullanırken
                    kesinlikle makineyi sudan uzak tutun. Onu ıslatmamak için efor sarf edin. Ve ıslak ellerle
                    dokunmayın. Ekmek kızartma makineleri ekmeklerin üstünde krema ve benzeri şeyler bulunması ile
                    birlikte kullanım için uygun değildir. Buzdolaplarına sıcak şeyler sokulması uygun değildir.
                    Yeni buzdolapları için bu uygulama gerekmese de yılda 2 kere buzdolabındaki buzu çözün ve
                    ayrıca arka taraftaki tozları temizleyin. Buzdolabı taşırken özellikle arka kısma zarar
                    vermemek için azami gayret gösterin. Blender kullanımı yaparken sıcak yiyecekleri ezmeyin,
                    ateşe yaklaştırmayın. Blenderi yıkarken elektrikli kısmını yıkamayın. Blenderi aşırı derecede
                    uzun kullanırsanız ısınmasına neden olursunuz. Çamaşır makinesinin üstüne sert cisimler
                    koymamaya dikkat ediniz. Kıyafetlerinizi makineye yerleştirirken içindeki cisimleri çıkarın.
                    Yıkama sonrası içerde eşya bırakmadan direk kurumaya götürün. Makineyi sıcakta çalıştırarak
                    içerisine limon ve sirke ekleyiniz. İçindeki oluşumlar etkili bir yöntemdir.
                </p>
                <h6 class="faq-h">
                    Bir Evde Bulunması Gereken Ev Aletleri Nelerdir?
                </h6>
                <p class="faq-p">
                    Elektrik Süpürgesi, küçük ev aletleri denilince akla gelen ilk ürünler arasındadır. Olmazsa
                    olmaz ürünlerdendir. Temizliğin başrolünde olan küçük ev aleti olarak dikkat çekiyor. Katı
                    Meyve Sıkacağı, son dönemde özellikle yeni evlenen kadınların favori ürünleri arasındadır.
                    Portakal, elma, havuç gibi meyve türlerini meyve suyuna dönüştürmede çok büyük kolaylık
                    sağlayan makine organik beslenmenize büyük katkı sunuyor. Küçük ev aletleri çeyizlerin
                    vazgeçilmezleri arasındadır. Çay Makinesi, Türkler için olmazsa olmaz nedir denilse ilk üçe
                    gireceklerden bir tanesi çaydır. Bazı evlerde ocak üstü demlik sistemi devam etse de çay
                    makinesi de giderek popüler olmaktadır. Elektronik çay makineleri suyu sıcak tutması ve tüpün
                    gereksiz harcanmasını engellediği için faydalıdır. Tost Makinesi, tost makinesi öyle bir
                    elektronik alettir ki artık bulunmayan ev nerede ise yoktur. Aslında ana ihtiyaçlar arasında
                    olmamasına rağmen ülkemizde tost çok sevilmektedir. Bu yüzden her evde bulunması gerekenler
                    listemizde yer alıyor. Kahvaltılarda çok büyük destekçidir. Mikser, pasta yapmayı seven
                    insanlara büyük desteklik sağlar. Blender hamur yapma işini oldukça kolaylaştırmaktadır.
                    Fritöz, kızartma yapmak için kullanılan bir üründür. Yağdan tasarruf etmenize destek olur.
                    Kızartmada yağları sıçratmadan stabil şekilde size destek olur. Üstelik göstergeleri vasıtaları
                    ile size zaman konusunda da destek sağlıyor. Saç Kurutma Makinesi, saç kurutma makinesi de
                    evlerde kesinlikle yer alması gerekenlerden. Banyo sonrası özellikle bayanlarda saçlar hemen
                    kurumaz, imdada ise kaliteli saç kurutma makineleri yetişir. Islak saçla dolaşmanın negatif
                    etkileri düşünüldüğünde saç kurutma makinesi oldukça faydalıdır. Ütü: Şık ve düzenli görünmek
                    için her evde yer alan küçük ev aletlerinden bir tanesidir. Kırışık kıyafetler ile dolaşmayı
                    engeller. Hayatımızda önemli bir yeri vardır. Şarjlı El Süpürgesi, normal süpürgenin dışında
                    küçük temizlemeler için idealdir. Dökülen kırıntı ve hızlıca temizlenmesi gereken bir şeylerin
                    olması durumunda imdada yetişir. Kahve Makinesi, çay tiryakiliği dışında kahve tiryakiliği
                    olanlar için ideal bir üründür. Bu yüzden seçilirken daha çok kahve sevgisi olanlar tarafından
                    alınmaktadır. Mikrodalga Fırın, normal fırın biraz uzun zaman gerektirirken mikrodalga fırın
                    ile kısa sürede yemekler ısıtılmakta, buzluktan çıkan ürünlerin çözülmesi kısa sürede
                    gerçekleştirilmektedir. Blender, etkili olarak karıştırma sağlayan blenderler evde kullanılan
                    yumuşak meyve ve sebzeleri öğütmede size destek olur. Mutfak Tartısı, bazen yemek yaparken
                    hassasiyet gerektiren gramajlar gerekir. Mutfak tartısı bu konuda size oldukça destek olur.
                    Ekmek Kızartma Makinesi, daha çok yurt dışında popülerdir. Özellikle bir dönem Türk filmlerinde
                    aktif olarak geçmiştir. Ekmekleri sıcacık ve kızarmış şekilde yemeniz için size destek sağlar.
                    Izgara Makinesi, dumansız olarak ızgara yapmanız için size destek olur. Dikiş Makinesi: Dikişe
                    merakınız varsa ve sık sık dikiş yapmanız gerekiyorsa terziden sizi kurtaran pratik bir ev
                    aletidir. Tüy Dökücü, kadınların ağda ile uğraşmadan tüylerinden kurtulmaları için üretilmiş
                    bir makinedir.
                </p>
                <h6 class="faq-h">
                    Beyaz Eşya Ürünlerinde En Çok Kullanılan Markalar Hangileridir?
                </h6>
                <p class="faq-p">
                    Beyaz eşyalar artık hayatımızın en önemli yerlerinde bizlere destek oluyor hayatımızı
                    kolaylaştırıyor. İşletmeniz veya eviniz için beyaz eşya almanız oldukça normaldir. Fakat satın
                    alma fikri ciddi bir bütçe gerektirir. Aldığınız ürünü yıllarca kullanmak isteyeceksiniz.
                    Ayrıca sorun çıkarmadan kullanım gerçekleştirmek isteyeceksiniz. Teknoloji geliştikçe ürünler
                    artıyor ve pazar kızıştıkça efsane ürünler ortaya çıkıyor. Rekabetin etkisi ile servis
                    hizmetleri de oldukça gelişmiş durumdadır. Pazarda rekabetin artması ile yeni markalar da
                    kendilerine bu alanda yer bulmaya çalışıyor. Çift kapılı buzdolaplarında LG ve Samsung
                    firmaları bu araştırmaya göre oldukça yüksek puan almış durumdalar. Çok kapılı buzdolaplarında
                    ise Electrolux ilk sırada gelirken onu yine LG ve Samsung firmaları takip ediyor. Derin
                    dondurucu da LG firması önde gözüküyor gene. Fırınlı ocaklarda ise Samsung, LG önde gelirken
                    onu Bosch firması takip ediyor. Ocakta Bosch en iyi marka olarak gözüküyor. Ankastre fırında
                    Bosch firması yine bir adım önde gözüküyor. Mikrodalga fırınlarda ise en yüksek puanı LG,
                    Samsung, Bosch firmaları alıyor. Bulaşık makinelerinde ise yine LG, Bosch, Samsung firmaları
                    önde yer alıyor. Çamaşır makineleri seçiminde ise Samsung ve LG ürünleri oldukça popüler yine.
                    Burada dünyadaki genel kullanım baz alınmıştır ülkemizde ise bu ürünlere ek olarak Arçelik,
                    Vestel, Profilo, Beko ve Siemens markaları dahil olmaktadır. Oldukça kaliteli üretim yapan bu
                    markalar müşterileri memnun etme açısından ilerdedir. Ülkemizdeki markalar olan Vestel ve
                    Arçelik firmaları da ürettikleri ürünler ile oldukça popüler markalar olmuşlardır. Avantajları
                    ülkemizde üretilmeleridir. Böylece dışarıdan ithal edilen ek parçalara gerek duyulmadan bir
                    sorun ile karşılaşıldığında çözüm çok daha kısa sürede sağlanabilmektedir.


                </p>
            </div>
        </div>
    </div>
</section>

<section id="m-mainarea">

    <div class="row m-white">
        <div class="col-12 allcat-header">
            <h2>Bla Bla text</h2>
        </div>
        <div class="col-6">
            <a href="" class="m-cat-wrapper">
                <img style="margin: 0px auto" src="~/Public/img/mobile/category1/1.png" alt="">
                <h6>Bilgisayar & Yazılımlar</h6>
            </a>
        </div>
        <div class="col-6">
            <a href="" class="m-cat-wrapper">
                <img style="margin: 0px auto" src="~/Public/img/mobile/category1/2.png" alt="">
                <h6>Bilgisayar & Yazılımlar</h6>
            </a>
        </div>
        <div class="col-6">
            <a href="" class="m-cat-wrapper">
                <img style="margin: 0px auto" src="~/Public/img/mobile/category1/3.png" alt="">
                <h6>Bilgisayar & Yazılımlar</h6>
            </a>
        </div>
        <div class="col-6">
            <a href="" class="m-cat-wrapper">
                <img style="margin: 0px auto" src="~/Public/img/mobile/category1/4.png" alt="">
                <h6>Bilgisayar & Yazılımlar</h6>
            </a>
        </div>


    </div>
    <div class="row m-white  m-categoty-promo" style="    padding-left: 10px!important;">
        <div class="col-12">
            <h2>Müzik/Ses Sistemleri</h2>
        </div>
        <div class="custom5 no-m">
            <div class="card card-item" style="margin-right:0;">
                <img src="~/Public/img/items/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                </div>
            </div>
        </div>
        <div class="custom5 no-m">
            <div class="card card-item" style="margin-right:0;">
                <img src="~/Public/img/items/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                </div>
            </div>
        </div>
        <div class="m-show-more">
            <a href=""><span>Hamısına bax</span> <i class="fas fa-angle-right"></i></a>
        </div>
    </div>
    <div class="row m-white  m-categoty-promo" style="    padding-left: 10px!important;">
        <div class="col-12">
            <h2>Müzik/Ses Sistemleri</h2>
        </div>
        <div class="custom5 no-m">
            <div class="card card-item" style="margin-right:0;">
                <img src="~/Public/img/items/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                </div>

            </div>
        </div>
        <div class="custom5 no-m">
            <div class="card card-item" style="margin-right:0;">
                <img src="~/Public/img/items/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                </div>

            </div>
        </div>
        <div class="m-show-more">
            <a href=""><span>Hamısına bax</span> <i class="fas fa-angle-right"></i></a>
        </div>
    </div>
    <div class="row m-white  m-categoty-promo" style="    padding-left: 10px!important;">
        <div class="col-12">
            <h2>Müzik/Ses Sistemleri</h2>
        </div>
        <div class="custom5 no-m">
            <div class="card card-item" style="margin-right:0;">
                <img src="~/Public/img/items/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                </div>

            </div>
        </div>
        <div class="custom5 no-m">
            <div class="card card-item" style="margin-right:0;">
                <img src="~/Public/img/items/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                </div>

            </div>
        </div>
        <div class="m-show-more">
            <a href=""><span>Hamısına bax</span> <i class="fas fa-angle-right"></i></a>
        </div>
    </div>
    <div class="row m-white  m-categoty-promo" style="    padding-left: 10px!important;">
        <div class="col-12">
            <h2>Müzik/Ses Sistemleri</h2>
        </div>
        <div class="custom5 no-m">
            <div class="card card-item" style="margin-right:0;">
                <img src="~/Public/img/items/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                </div>

            </div>
        </div>
        <div class="custom5 no-m">
            <div class="card card-item" style="margin-right:0;">
                <img src="~/Public/img/items/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Apple iPhone 7 32 GB 4.7 İnç 12 MP Akıllı Cep Telefonu</h5>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a class="link-merch" href="">
                        <div class="source">amazon.com.tr</div>
                        <div class="merch-price">3.184,24 ₼<i class="fas fa-angle-right"></i> </div>
                    </a>
                    <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                </div>

            </div>
        </div>
        <div class="m-show-more">
            <a href=""><span>Hamısına bax</span> <i class="fas fa-angle-right"></i></a>
        </div>
    </div>
    <div class="row m-white">
        <h3 style="padding-left:10px;" class="section-header text-center">Saytın Seçimi</h3>
        <div class="col-12">
            <a href="" class="link-to-site-select">
                <img class="m-site-select-img" src="~/Public/img/mobile/index/site-select/1.jpg" alt="">
                <div class="m-site-select ">
                    <div class="m-site-select-title">Oppo RX17 Pro 128GB</div>
                    <h2>
                        4.999,
                        <small>00 TL</small>
                        <i class="fas fa-angle-right"></i>
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-12">
            <a href="" class="link-to-site-select">
                <img class="m-site-select-img" src="~/Public/img/mobile/index/site-select/2.jpg" alt="">
                <div class="m-site-select">
                    <div class="m-site-select-title">Alcatel 1C 2019 8GB</div>
                    <span>En Ucuz Fiyatlarla Yakında Cimri.com'da   <i class="fas fa-angle-right"></i> </span>
                </div>
            </a>
        </div>

        <div class="col-12">
            <a href="" class="link-to-site-select">
                <img class="m-site-select-img" src="~/Public/img/mobile/index/site-select/3.jpg" alt="">
                <div class="m-site-select">
                    <div class="m-site-select-title">Lenovo Z5 Pro GT 128GB 6.39 iNÇ Çift Hatlı 16MP Akıllı Cep Telefonu Siyah</div>
                    <span>En Ucuz Fiyatlarla Yakında Cimri.com'da   <i class="fas fa-angle-right"></i> </span>
                </div>
            </a>
        </div>


    </div>
    <div class="row m-white" style="margin-bottom: 0px!important;">
        <div class="col-12">
            <h3 class="section-header text-center">Elektronik Kategorisi Hangi Ürünleri Kapsamaktadır?</h3>
            <p>
                Elektronik Kategorisi Hangi Ürünleri Kapsamaktadır?
                Elektriğin keşfedilmesi ile birlikte dünyada çok büyük bir değişim olmuştur ve dünya çağ atlamıştır. Bu çağ atlama ile birlikte çok büyük yenilikler olmuş ve dünyada elektrik devri başlamıştır. Bu bağlamda çok kaliteli ürünler geliştirilmiş ve hayat artık elektriksiz yaşanmaz hale gelmiştir. Elektronik elektrik ile çalışan cihazları kapsayan bir daldır ve bu dalda birçok alana ayrılmaktadır. Elektronik modern dünyada en önemli alanlardan bir tanesidir. Artık elektriksiz neredeyse yaşamak imkânsız hale gelmiştir. Her şey bir şekilde dolaylı olarak elektriğe bağlıdır. Bu yüzden elektronik alanının kapsadığı cihaz sayısı çok fazladır. Elektroniğin dalları düşünüldüğünde bir hayli fazla elektronik ürün bulunmaktadır. Elektroniğin kapsadığı ürünleri saymaya başlasak tüm yazıyı bu ürünlere ayırmamız gerekebilir fakat biz size daha çok e- ticarette popüler olarak alınıp satılan ürünlerden bahsedeceğiz.

                Hobi Elektroniği bu alanda genelde tamir için bir yerleri takıp sökmek için kullandığınız cihazlar ön plandadır. Hobilerinizin tamire dayalı olması durumunda bu kategori sizi oldukça mutlu edecektir. Bu kategoride el motorları, kalınlık planyaları, hobby setleri, ahşap kesme bıçakları, direnç ölçü aletleri, ahşap oyma aletleri, ahşap torna bıçak setleri, ahşap oyma bıçak setleri, hobi makineleri gibi birçok makine bulunmaktadır. Ses Kayıt Cihaz Elektroniği, ses kaydı çağımızda oldukça önemli bir yerdedir. Bu bağlamda birçok ürün geliştirilmiş ve geliştirilmektedir. Bu kategoride bu alanda ihtiyaçlarınıza uygun ürünleri bulmanız mümkün. Yazarkasa Elektroniği, yazarkasalar özellikle aktif olarak ticarette uğraşan kişiler için vazgeçilmez ürünlerdir bu kategoride birçok ürünü bulabilirsiniz. Yazarkasa-Pos Elektroniği, özellikle sipariş ve ticari faaliyetlerde aktif olarak bulunan kişilerin olmazsa olmazlarından olan pos cihazları sizler için bu kategoride derlenmiştir. Elektronik Sözlük Elektroniği, yabancı diller bazen herkesi zorlamaktadır. Firmalar insanların bilmedikleri dilleri kendilerini zorlamaması için elektronik sözlükler üreterek insanların bu durumlardan kurtulmalarını ve anında kelime dağarcıklarını geliştirmelerini amaçlamıştır bu kategori size çok şey katacak.

                Elektronik Ev Aletleri Grubuna Hangi Ürünler Girmektedir?
                Elektrikli ev aletleri yani elektronik ev aletleri birçok çeşitte bulunmaktadır. Bu aletler vasıtası ile hayatımız kolaylaşmakta birçok işimizi rahatça görebilmekteyiz. Hayatımızda çok önemli bir yardımcılar. Birçok alanda imdadımıza yetişiyorlar. Öncelikle elektronik aletlerin başında bilgisayarlar gelmektedirler bilgisayarlar artık modern çağda ekmek su gibi ihtiyaçlar arasında yer almaktadır. Birçok işlev, görev, eğlence, hobi, müzik gibi aktiviteler bilgisayarlar sayesinde yapılmaktadır. Bilgisayarlar okul hayatında da aktif olarak kullanılmaktadır. Çeşitli ofis programları ile bizleri desteklemektedirler. Ev aletleri arasında ilk sıralarda yer almaktadırlar. Bilgilerinizi depolar, hayatınızın birçok işlevinizi yapacağız internete girmenize vesile olur. Blenderler ise özellikle mutfaklarda hanımların imdadına yetişen özel çalışanları gibidirler. Özel yemekler yapmaları ve değişik meyve sebze parçalama işlemlerinde imdatlarına yetişirler. Gıdalarını karıştırmak ve parçalamak için hanımların ve ev işleri yapanların yardımcılarıdır. Bulaşık makineleri ise hayatı kolaylaştırmakta özellikle ev hanımlarının korkulu rüyası olan bulaşıkları yıkamasında inanılmaz bir destek sağlarlar. Hanımların teknolojik aletler içerisinde en sevdiği yardımcılardan bir tanesidir. Yıkama kurutma yapması ile adeta hanımların evladı gibidirler. Bulaşıkları yıkamada büyük bir destektir. Buzdolapları ise yardımcı olmaktan çok ihtiyaçtır. Buzdolabı olmayan bir ev neredeyse yoktur. Çünkü yiyecekleri muhafaza etmede içecekleri korumada meyve sebze gibi yiyecekleri saklamada buzdolabı hayati görevler sağlar. Bu yüzden oldukça önemlidir. Çamaşır makinesi bir evde olması gereken demirbaşlardan bir tanesidir. Çünkü artık elle yıkama diye bir şey kalmamıştır. Evlenen çiftlerin çamaşır makinesi tercihi her zaman olmuştur ve olacaktır. Her bireyin de çamaşır makinesine ihtiyacı vardır. Çamaşır makinesi teknolojisi oldukça gelişmiştir muhteşem yıkamalar sağlamakta ve kapasite olarak çok ilerlemektedirler. Çamaşırlarınızı yıkamada çok büyük destek olurlar. Elektrik süpürgesi olmayan bir ev toza ve pisliğe mahkûm bir ev demektir. Elektrik süpürge teknolojisi oldukça gelişmiştir. Hatta su ile çalışan ve tozları sulandırarak temizleyen kaliteli süpürgeler ortaya çıkmıştır. Tozları ve çok büyük olmayan pislikleri temizlemede kadınların temizlikte en önemli yardımcıları arasındadır. Yemeksiz böreksiz pastasız bir ev hayat damarlarından birisinin koptuğu bir evdir. Bu yüzden fırın olmazsa olmaz ev elektronik aletleri arasındadır. Birçok lezzetli yemek börek ve değişik pişirme çalışmalarınıza destek olur. Hayatınızı kolaylaştırmada oldukça yardımcıdır. Elektronik ısıtıcılar ise kombi yakılmadığı veya ısınma problemleri yaşadığınız zamanlar size destek olmak ve sıkıntılarınızı bitirmek ısınızı korumak amacı ile üretilmiş etkili elektronik aletlerdir. Kahve birçok insanın vazgeçemediği içecekler arasındadır. Kahve makinesi ise size sürekli kahve içmek için destek olan bağımlılığınızı yatıştırmaya destek olan ürünlerden bir tanesidir. Meyve suyu ürünleri bir sürüdür fakat doğal ve katkısız meyve suyu içmek herkesin isteğidir katı meyve sıkacağı size bunu sağlayacak. Çay içmek, yemek pişirmek, bulaşık yıkamak için ihtiyacınız olan şey suyu ısıtmak için bir Kettle olacaktır. Ortamın ısısı her zaman çok önemlidir bu ısının sabit olması ve optimum sıcaklıkta olması sağlığımız ve hasta olmamak açısından önemlidir klima bu işi gören çok büyük bir yardımcıdır. Artık doğalgazsız ev az kalmıştır. Bu yüzden sularımızı ısıtan kombileri unutmamak lazım. Çamaşırları yıkadıktan sonra kurumasını istiyorsanız bir kurutma makinesi edinmeniz yerinde olacaktır. Soğuyan yemekleriniz ve bazı yemek türlerini pişirmek için mikrodalga fırın harika bir seçenek olacaktır. Mikser ise özellikle pasta börek türü yiyecekleri yaparken karıştırmaya yarayan bir elektronik alettir. Saç kurutma makinesi banyodan sonra veya saçları şekil aldırmada saçları kurutarak sizi rahatlatır. Televizyon hayatımızın her anında bizimle olan sürekli olarak kopamadığımız elektronik bir alettir.

                Elektronik Alet Kullanımında Uyulması Gereken Temel Kurallar Nelerdir?
                Evimizde kullandığımız birçok ev aletleri işlerimizi kolaylaştırmaktadır. Teknoloji ilerledikçe evimiz elektronik aletler ile doluyor. Yıllardır kullandığımız ürünler yerini daha yeni ve daha teknolojik aletlere bırakıyor. Bazen eskiler eskiyip bozulduğu için bazen de yeni modellerin daha çok işimizi göreceği nedeni ile yenileri tercih ediyoruz. Cihazların uzun ömürlü olması için bazı talimatlara dikkat etmenizde yarar vardır. Aldığınız cihazın öncelikle kullanma talimatını okuyunuz ve ona göre kullanım yapınız. Ayrıca temizliklerine dikkat ediniz. Yeni bir cihaz satın alacaksınız A sınıfı bir ürün almanız uzun vadede size oldukça destek sağlar çünkü yüzde 30 oranında elektrik tüketiminden tasarruf ederler. Kullanılan cihazların bozulmalarını beklemeden rutin bakımları yapılmalıdır. Yılda en az bir kez motor kontrol ettirilmelidir. Ayrıca toz ve benzeri kirler kişisel olarak temizlenmelidir. Elektrikli ocak kullanırken pişme süresine çok az süre kaldı ise örneğin 1-2 dakika ocağı kapatarak ısıdan kazanabilirsiniz. Küçük fırınları tercih etmeniz yararınıza olacaktır. Elektrik süpürgenizi sık sık temizleyin ve torbası dolunca değiştirin. Islak kullandığınız süpürgeleri her kullanım sonrası temizleyip kurulayın. Mikro dalgada ısıtma ve pişirme yaparsanız yüzde elli oranında enerjiden tasarruf edersiniz. Çamaşırların düzgün şekilde askıya asarak ve nemli iken ütüleyerek daha az enerji harcayın. Buzdolabı kapısını sık sık açıp kapatmayın, içerideki ısı kaybına neden olarak soğutma işlemi için daha fazla enerji harcanması gerekir. Buzdolabınızı ısı sağlayan eşyalardan uzağa koyun en az 15 santimetre olacak şekilde. Bulaşık ve çamaşır makineleri tam dolmadan çalıştırmayın. Çamaşır makinesi kullanımı yaparken kapasitesini aşmayınız. Kapasitesinin altında kullanımlarda ise uygun programı seçiniz. Gerekmedikçe yüksek sıcaklıkta yıkama yapmayın. PC, monitör, yazıcı gibi cihazları kullanmadığınız zamanlarda enerji kaynaklarından çıkarın. Bu nedenle kullanmadığınız zamanlarda tüm elektronik aletleri prizden çekin ve kapatın.

                Elektronik Ev Eşyalarının Ömrünü Uzatmak İçin Neler Yapılmalıdır?
                Bulaşık Makineleri için mutfak eşyalarını makineye yerleştirirken eşyaları yüzleri dönük olarak değil de sırt kısımları görünecek şekilde koyun. Makineye bulaşıkları koymadan önce üstündeki artıkları temizleyin. Ayrıca bulaşık deterjanı olarak sıvı deterjan kullanın. Mikrodalga Fırın kullanırken sadece içerisine girebilecek eşyaları sokunuz. Örneğin metal aksamları uzak tutunuz. Yemeği çok fazla ısıtmak da mikro dalgaya zarar verebilmektedir. Mikrodalgayı kullanmadan önce yemek artıkları ve yağları temizleyin. Ekmek Kızartma Makinesi kullanırken kesinlikle makineyi sudan uzak tutun. Onu ıslatmamak için efor sarf edin. Ve ıslak ellerle dokunmayın. Ekmek kızartma makineleri ekmeklerin üstünde krema ve benzeri şeyler bulunması ile birlikte kullanım için uygun değildir. Buzdolaplarına sıcak şeyler sokulması uygun değildir. Yeni buzdolapları için bu uygulama gerekmese de yılda 2 kere buzdolabındaki buzu çözün ve ayrıca arka taraftaki tozları temizleyin. Buzdolabı taşırken özellikle arka kısma zarar vermemek için azami gayret gösterin. Blender kullanımı yaparken sıcak yiyecekleri ezmeyin, ateşe yaklaştırmayın. Blenderi yıkarken elektrikli kısmını yıkamayın. Blenderi aşırı derecede uzun kullanırsanız ısınmasına neden olursunuz. Çamaşır makinesinin üstüne sert cisimler koymamaya dikkat ediniz. Kıyafetlerinizi makineye yerleştirirken içindeki cisimleri çıkarın. Yıkama sonrası içerde eşya bırakmadan direk kurumaya götürün. Makineyi sıcakta çalıştırarak içerisine limon ve sirke ekleyiniz. İçindeki oluşumlar etkili bir yöntemdir.

                Bir Evde Bulunması Gereken Ev Aletleri Nelerdir?
                Elektrik Süpürgesi, küçük ev aletleri denilince akla gelen ilk ürünler arasındadır. Olmazsa olmaz ürünlerdendir. Temizliğin başrolünde olan küçük ev aleti olarak dikkat çekiyor. Katı Meyve Sıkacağı, son dönemde özellikle yeni evlenen kadınların favori ürünleri arasındadır. Portakal, elma, havuç gibi meyve türlerini meyve suyuna dönüştürmede çok büyük kolaylık sağlayan makine organik beslenmenize büyük katkı sunuyor. Küçük ev aletleri çeyizlerin vazgeçilmezleri arasındadır. Çay Makinesi, Türkler için olmazsa olmaz nedir denilse ilk üçe gireceklerden bir tanesi çaydır. Bazı evlerde ocak üstü demlik sistemi devam etse de çay makinesi de giderek popüler olmaktadır. Elektronik çay makineleri suyu sıcak tutması ve tüpün gereksiz harcanmasını engellediği için faydalıdır. Tost Makinesi, tost makinesi öyle bir elektronik alettir ki artık bulunmayan ev nerede ise yoktur. Aslında ana ihtiyaçlar arasında olmamasına rağmen ülkemizde tost çok sevilmektedir. Bu yüzden her evde bulunması gerekenler listemizde yer alıyor. Kahvaltılarda çok büyük destekçidir. Mikser, pasta yapmayı seven insanlara büyük desteklik sağlar. Blender hamur yapma işini oldukça kolaylaştırmaktadır. Fritöz, kızartma yapmak için kullanılan bir üründür. Yağdan tasarruf etmenize destek olur. Kızartmada yağları sıçratmadan stabil şekilde size destek olur. Üstelik göstergeleri vasıtaları ile size zaman konusunda da destek sağlıyor. Saç Kurutma Makinesi, saç kurutma makinesi de evlerde kesinlikle yer alması gerekenlerden. Banyo sonrası özellikle bayanlarda saçlar hemen kurumaz, imdada ise kaliteli saç kurutma makineleri yetişir. Islak saçla dolaşmanın negatif etkileri düşünüldüğünde saç kurutma makinesi oldukça faydalıdır. Ütü: Şık ve düzenli görünmek için her evde yer alan küçük ev aletlerinden bir tanesidir. Kırışık kıyafetler ile dolaşmayı engeller. Hayatımızda önemli bir yeri vardır. Şarjlı El Süpürgesi, normal süpürgenin dışında küçük temizlemeler için idealdir. Dökülen kırıntı ve hızlıca temizlenmesi gereken bir şeylerin olması durumunda imdada yetişir. Kahve Makinesi, çay tiryakiliği dışında kahve tiryakiliği olanlar için ideal bir üründür. Bu yüzden seçilirken daha çok kahve sevgisi olanlar tarafından alınmaktadır. Mikrodalga Fırın, normal fırın biraz uzun zaman gerektirirken mikrodalga fırın ile kısa sürede yemekler ısıtılmakta, buzluktan çıkan ürünlerin çözülmesi kısa sürede gerçekleştirilmektedir. Blender, etkili olarak karıştırma sağlayan blenderler evde kullanılan yumuşak meyve ve sebzeleri öğütmede size destek olur. Mutfak Tartısı, bazen yemek yaparken hassasiyet gerektiren gramajlar gerekir. Mutfak tartısı bu konuda size oldukça destek olur. Ekmek Kızartma Makinesi, daha çok yurt dışında popülerdir. Özellikle bir dönem Türk filmlerinde aktif olarak geçmiştir. Ekmekleri sıcacık ve kızarmış şekilde yemeniz için size destek sağlar. Izgara Makinesi, dumansız olarak ızgara yapmanız için size destek olur. Dikiş Makinesi: Dikişe merakınız varsa ve sık sık dikiş yapmanız gerekiyorsa terziden sizi kurtaran pratik bir ev aletidir. Tüy Dökücü, kadınların ağda ile uğraşmadan tüylerinden kurtulmaları için üretilmiş bir makinedir.

                Beyaz Eşya Ürünlerinde En Çok Kullanılan Markalar Hangileridir?
                Beyaz eşyalar artık hayatımızın en önemli yerlerinde bizlere destek oluyor hayatımızı kolaylaştırıyor. İşletmeniz veya eviniz için beyaz eşya almanız oldukça normaldir. Fakat satın alma fikri ciddi bir bütçe gerektirir. Aldığınız ürünü yıllarca kullanmak isteyeceksiniz. Ayrıca sorun çıkarmadan kullanım gerçekleştirmek isteyeceksiniz. Teknoloji geliştikçe ürünler artıyor ve pazar kızıştıkça efsane ürünler ortaya çıkıyor. Rekabetin etkisi ile servis hizmetleri de oldukça gelişmiş durumdadır. Pazarda rekabetin artması ile yeni markalar da kendilerine bu alanda yer bulmaya çalışıyor. Çift kapılı buzdolaplarında LG ve Samsung firmaları bu araştırmaya göre oldukça yüksek puan almış durumdalar. Çok kapılı buzdolaplarında ise Electrolux ilk sırada gelirken onu yine LG ve Samsung firmaları takip ediyor. Derin dondurucu da LG firması önde gözüküyor gene. Fırınlı ocaklarda ise Samsung, LG önde gelirken onu Bosch firması takip ediyor. Ocakta Bosch en iyi marka olarak gözüküyor. Ankastre fırında Bosch firması yine bir adım önde gözüküyor. Mikrodalga fırınlarda ise en yüksek puanı LG, Samsung, Bosch firmaları alıyor. Bulaşık makinelerinde ise yine LG, Bosch, Samsung firmaları önde yer alıyor. Çamaşır makineleri seçiminde ise Samsung ve LG ürünleri oldukça popüler yine. Burada dünyadaki genel kullanım baz alınmıştır ülkemizde ise bu ürünlere ek olarak Arçelik, Vestel, Profilo, Beko ve Siemens markaları dahil olmaktadır. Oldukça kaliteli üretim yapan bu markalar müşterileri memnun etme açısından ilerdedir. Ülkemizdeki markalar olan Vestel ve Arçelik firmaları da ürettikleri ürünler ile oldukça popüler markalar olmuşlardır. Avantajları ülkemizde üretilmeleridir. Böylece dışarıdan ithal edilen ek parçalara gerek duyulmadan bir sorun ile karşılaşıldığında çözüm çok daha kısa sürede sağlanabilmektedir.
            </p>
        </div>
    </div>
    <div class="row bottom m-white">
        <a href="" class="back-to-top">
            <i class="fas fa-angle-up"></i>
            Əvvələ qayıd
        </a>
    </div>
</section>

