@model cimri.Models.VwIndex

<section id="body" class="disappear-mobile" style="background-color: #f1f5f8">
    <div class="container">

        <!-- Here are promo adverts located -->
        <div class="row disappear-mobile" style="padding: 20px 0 0 0;">
            <div class="col-lg-7 " style="padding-left:0px;  ">
                <div class="owl-carousel1 owl-carousel" style="min-height:470px">
                    @foreach (var item in Model.indexSliderBigItems)
                    {
                        <a href="@item.Link"><div><img style="height: 440px;" src="~/Public/img/content/index/carousel-main/@item.Image" alt=""></div>  </a>
                    }

                </div>
            </div>
            <div class="col-lg-3 daily-category d-flex justify-content-between align-items-end" style="flex-direction:column; height: 440px;">
                <div class="row one">
                    <div class="col-lg-12 " style="padding-left:0;">
                        <a href="@Model.indexUpperPromo.Link"><img src="~/Public/img/content/index/up/@Model.indexUpperPromo.Image" alt=""></a>
                    </div>
                </div>
                <div class="row two ">
                    <div class="col-lg-12 " style="padding-left:0;">
                        <a href="@Model.IndexDownPromo.Link"><img src="~/Public/img/content/index/down/@Model.IndexDownPromo.Image" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 daily-sale " style="height: 440px;">
                <div class="owl-carousel2 owl-carousel">
                    <div>
                        <a href="" class="daily-sale-a ">
                            <p class="text-center">
                                Günün endirimləri
                            </p>
                            <img style="margin-top:20px;" src="~/Public/img/daily_sale/bosphoruspembepetekdesenlilbanyoaksesuar-kampanya.jpg"
                                 alt="">
                            <p class="text-center daily-sale-font-normal">
                                Petlas Full Grip PT925 225/70R15C
                                112/110R 8PR
                            </p>
                            <div class="pricing-fursetler text-center">
                                <div class="price-old daily-sale-font-normal" style="color:gray; text-decoration: line-through;">500</div>
                                <span class="sale-percent">%12</span>
                                <div class="price-sale daily-sale-price " style="display:inline; "> 400</div>
                            </div>
                            <br>
                            <div class="img-center d-flex align-items-center">
                                <img src="~/Public/img/daily_sale/10370.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="" class="daily-sale-a ">
                            <p class="text-center">
                                Günün endirimləri
                            </p>
                            <img style="margin-top:20px;" src="~/Public/img/daily_sale/petlassnowmasterwrh-kampanya.jpg"
                                 alt="">
                            <p class="text-center daily-sale-font-normal">
                                Petlas Full Grip PT925 225/70R15C
                                112/110R 8PR
                            </p>
                            <div class="pricing-fursetler text-center">
                                <div class="price-old daily-sale-font-normal" style="color:gray; text-decoration: line-through;">500</div>
                                <span class="sale-percent">%12</span>
                                <div class="price-sale daily-sale-price " style="display:inline; "> 400</div>
                            </div>
                            <br>
                            <div class="img-center d-flex align-items-center">
                                <img src="~/Public/img/daily_sale/5599.png" alt="">
                            </div>
                        </a>
                    </div>

                </div>

            </div>

        </div>
        <!-- Merch icons -->
        <div class="row merch-div disappear-mobile">
            <div class="col-lg-12 merch">
                <ol>
                    @foreach (var item in Model.Merches)
                    {
                        <a href="@item.LinkWeb">  <li><img src="~/Public/img/content/merch/@item.İmage" alt=""></li> </a>
                    }
                </ol>




            </div>
        </div>
        <!--  Popular categories names -->
        <br>
        <br>
        <div class="row disappear-mobile">
            <div class="col-lg-12 col-sm-12 col-md-12 col-12" style="padding: 0">
                <div class="wrapper-categories owl-carousel  text-center">
                    @foreach (var item in Model.SeaarchTags)
                    {
                        <div> <a href="#">@item.Text</a> </div>
                    }

                </div>
            </div>
        </div>
        <!-- Category 1 -->
        <div class="row d-flex justify-content-between m-white ">
            <a class="go-to-item" href="@Url.Action("category","home", new { id=@Model.CategoryIndexes.FirstOrDefault().Category.id})">
                <div class="custom5 disappear-mobile">
                    <div class="card card-item" style="margin-right:0;">
                        <img src="~/Public/img/content/CategoryPhotos/@Model.CategoryIndexes.FirstOrDefault().Category.CategoryPhotos.FirstOrDefault().NormalPhoto" class="card-img-top image-category-more" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Model.CategoryIndexes.FirstOrDefault().Category.DescriptionShort</h5>
                            <p class="card-sale-text">
                                @Model.CategoryIndexes.FirstOrDefault().Category.DescriptionShort
                            </p>
                            <a href="#" class="btn btn-primary more-offers" data-id="@Model.CategoryIndexes.FirstOrDefault().Category.id">Bütün məhsullara bax</a>
                        </div>
                    </div>
                </div>
            </a>
            @foreach (var item in Model.CategoryIndexes.FirstOrDefault().Items)
            {
                <a class="go-to-item" onclick="Local(this)" data-id="@item.id" href="@Url.Action("item","home",new { id=item.id})">
                    <div class="custom5">
                        <div class="card card-item" style="margin-right:0;">
                            <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                @foreach (var merch in item.ItemMerches.OrderBy(x => x.PriceNormal))
                                {
                                    <a class="link-merch" href="">
                                        <div class="source">@merch.Merch.Link</div>
                                        <div class="merch-price">@merch.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                    </a>

                                }
                                <a href="#" class="btn btn-primary more-offers" data-item-id="@item.id">Hamısına bax</a>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
        <!-- Category 2 -->

        <div class="row d-flex justify-content-between m-white ">

            <a class="go-to-item" href="@Url.Action("category","home", new { id=@Model.CategoryIndexes.Skip(1).First().Category.id})">
                <div class="custom5 disappear-mobile">
                    <div class="card card-item" style="margin-right:0;">
                        <img src="~/Public/img/content/CategoryPhotos/@Model.CategoryIndexes.Skip(1).First().Category.CategoryPhotos.FirstOrDefault().NormalPhoto" class="card-img-top image-category-more" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Model.CategoryIndexes.Skip(1).First().Category.DescriptionShort</h5>
                            <p class="card-sale-text">
                                @Model.CategoryIndexes.Skip(1).First().Category.DescriptionShort
                            </p>
                            <a href="#" class="btn btn-primary more-offers" data-id="@Model.CategoryIndexes.Skip(1).First().Category.id">Bütün məhsullara bax</a>
                        </div>
                    </div>
                </div>
            </a>

            @foreach (var item in Model.CategoryIndexes.Skip(1).First().Items)
            {
                <a class="go-to-item" onclick="Local(this)" data-id="@item.id" href="@Url.Action("item","home",new { id=item.id})">
                    <div class="custom5">
                        <div class="card card-item" style="margin-right:0;">
                            <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                @foreach (var merch in item.ItemMerches.OrderBy(x => x.PriceNormal))
                                {
                                    <a class="link-merch" href="">
                                        <div class="source">@merch.Merch.Link</div>
                                        <div class="merch-price">@merch.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                    </a>

                                }
                                <a href="#" class="btn btn-primary more-offers" data-item-id="@item.id">Hamısına bax</a>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>



        <!-- Top category images -->
        <div class="row disappear-mobile ">
            <div class="col-lg-4 categories-adv">
                <a href=""><img src="~/Public/img/categories-adv/1.jpg" alt=""></a>
            </div>
            <div class="col-lg-4 categories-adv">
                <a href=""> <img src="~/Public/img/categories-adv/2.jpg" alt=""></a>
            </div>
            <div class="col-lg-4 categories-adv">
                <a href=""><img src="~/Public/img/categories-adv/3.jpg" alt=""></a>
            </div>
        </div>
        <!-- Header of category -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-header">Həftənin populyar məhsulları</h3>
            </div>
        </div>
        <!-- Pupular items 1 carousel -->
        <div class="row row-items">

            <div class="owl-carousel popular d-flex justify-content-between">
                @foreach (var item in Model.PopularItems)
                {

                    <div style="width:234px">
                        <a class="go-to-item" href="@Url.Action("item","home", new { id=item.id})">
                            <div class="card card-item">
                                <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title card-title-x">@item.Name</h5>
                                    @foreach (var merch in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                    {
                                        <a class="link-merch" href="">
                                            <div class="source">@merch.Merch.Link</div>
                                            <div class="merch-price">@merch.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                        </a>
                                    }

                                    <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                                </div>
                            </div>
                        </a>
                    </div>

                }
            </div>
        </div>

        <!-- Category 3 -->

        <div class="row d-flex justify-content-between m-white ">
            <a class="go-to-item" href="@Url.Action("category","home", new { id=@Model.CategoryIndexes.Skip(2).First().Category.id})">
                <div class="custom5 disappear-mobile">
                    <div class="card card-item" style="margin-right:0;">
                        <img src="~/Public/img/content/CategoryPhotos/@Model.CategoryIndexes.Skip(2).First().Category.CategoryPhotos.FirstOrDefault().NormalPhoto" class="card-img-top image-category-more" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Model.CategoryIndexes.Skip(2).First().Category.DescriptionShort</h5>
                            <p class="card-sale-text">
                                @Model.CategoryIndexes.Skip(2).First().Category.DescriptionShort
                            </p>
                            <a href="#" class="btn btn-primary more-offers" data-id="@Model.CategoryIndexes.Skip(2).First().Category.id">Bütün məhsullara bax</a>
                        </div>
                    </div>
                </div>
            </a>
            @foreach (var item in Model.CategoryIndexes.Skip(2).First().Items)
            {

                <a class="go-to-item" onclick="Local(this)" data-id="@item.id" href="@Url.Action("item","home",new { id=item.id})">
                    <div class="custom5">
                        <div class="card card-item" style="margin-right:0;">
                            <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                @foreach (var merch in item.ItemMerches.OrderBy(x => x.PriceNormal))
                                {
                                    <a class="link-merch" href="">
                                        <div class="source">@merch.Merch.Link</div>
                                        <div class="merch-price">@merch.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                    </a>

                                }
                                <a href="#" class="btn btn-primary more-offers" data-item-id="@item.id">Hamısına bax</a>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>


        <!-- Category 4 -->

        <div class="row d-flex justify-content-between m-white ">
            <a class="go-to-item" href="@Url.Action("category","home", new { id=@Model.CategoryIndexes.Skip(3).First().Category.id})">
                <div class="custom5 disappear-mobile">
                    <div class="card card-item" style="margin-right:0;">
                        <img src="~/Public/img/content/CategoryPhotos/@Model.CategoryIndexes.Skip(3).First().Category.CategoryPhotos.FirstOrDefault().NormalPhoto" class="card-img-top image-category-more" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Model.CategoryIndexes.Skip(3).First().Category.DescriptionShort</h5>
                            <p class="card-sale-text">
                                @Model.CategoryIndexes.Skip(3).First().Category.DescriptionShort
                            </p>
                            <a href="#" class="btn btn-primary more-offers" data-id="@Model.CategoryIndexes.Skip(3).First().Category.id">Bütün məhsullara bax</a>
                        </div>
                    </div>
                </div>
            </a>

            @foreach (var item in Model.CategoryIndexes.Skip(3).First().Items)
            {
                <a class="go-to-item" onclick="Local(this)" data-id="@item.id" href="@Url.Action("item","home",new { id=item.id})">
                    <div class="custom5">
                        <div class="card card-item" style="margin-right:0;">
                            <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                @foreach (var merch in item.ItemMerches.OrderBy(x => x.PriceNormal))
                                {
                                    <a class="link-merch" href="">
                                        <div class="source">@merch.Merch.Link</div>
                                        <div class="merch-price">@merch.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                    </a>

                                }
                                <a href="#" class="btn btn-primary more-offers" data-item-id="@item.id">Hamısına bax</a>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>

        <!-- Merch icons -->

        <div class="row merch-div disappear-mobile">
            <div class="col-lg-12 merch">
                <ol>
                    @foreach (var item in Model.Brands)
                    {
                        <li><a href="#" data-brand-id="@item.id"><img src="~/Public/img/content/brand/@item.Logo" alt=""></a></li>
                    }
                </ol>




            </div>
        </div>
        <!-- Pupular items 2 -->
        <!-- Category 5 -->

        <div class="row d-flex justify-content-between m-white ">
            <a class="go-to-item" href="@Url.Action("category","home", new { id=@Model.CategoryIndexes.Skip(4).First().Category.id})">
                <div class="custom5 disappear-mobile">
                    <div class="card card-item" style="margin-right:0;">
                        <img src="~/Public/img/content/CategoryPhotos/@Model.CategoryIndexes.Skip(4).First().Category.CategoryPhotos.FirstOrDefault().NormalPhoto" class="card-img-top image-category-more" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Model.CategoryIndexes.Skip(4).First().Category.DescriptionShort</h5>
                            <p class="card-sale-text">
                                @Model.CategoryIndexes.Skip(4).First().Category.DescriptionShort
                            </p>
                            <a href="#" class="btn btn-primary more-offers" data-id="@Model.CategoryIndexes.Skip(4).First().Category.id">Bütün məhsullara bax</a>
                        </div>
                    </div>
                </div>
            </a>
            @foreach (var item in Model.CategoryIndexes.Skip(4).First().Items)
            {
                <a class="go-to-item" data-id="@item.id" onclick="Local(this)" href="@Url.Action("item","home",new { id=item.id})">
                    <div class="custom5">
                        <div class="card card-item" style="margin-right:0;">
                            <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                @foreach (var merch in item.ItemMerches.OrderBy(x => x.PriceNormal))
                                {
                                    <a class="link-merch" href="">
                                        <div class="source">@merch.Merch.Link</div>
                                        <div class="merch-price">@merch.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                    </a>

                                }
                                <a href="#" class="btn btn-primary more-offers" data-item-id="@item.id">Hamısına bax</a>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
        <!-- Header of category Cimri selection -->
        @if (Model.SiteSelect.Count > 0)
        {
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-header">Cimrinin seçimi </h3>
                </div>
            </div>
            <!-- Our selection slider -->
            <div class="row">

                <div class="owl-carousel popular">
                    @foreach (var item in Model.SiteSelect)
                    {
                        <div style="width:234px">
                            <a class="go-to-item" href="@Url.Action("item","index", new {id=item.id })" data-id="@item.id" onclick="Local(this)">
                                <div class="card card-item">
                                    <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title card-title-x">@item.Name</h5>
                                        @foreach (var merch in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                        {
                                            <a class="link-merch" href="">
                                                <div class="source">@merch.Merch.Link</div>
                                                <div class="merch-price">@merch.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                            </a>
                                        }

                                        <a href="#" class="btn btn-primary more-offers">Hamısına bax</a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }

                </div>
            </div>
        }
        <!-- Header of category -->
        <div class="row" id="popular-header d-none">
            <div class="col-lg-12">
                <h3 class="section-header">Son baxdığınız məhsullar </h3>
            </div>
        </div>
        <!-- Rewiewed by user recently slider -->
        <div id="recently" class="row d-none">
            <div class="owl-carousel popular" id="pop">
            </div>

        </div>
        <div class="row d-none" id="prepop">

        </div>
        <div class="row hide-desktop">
            <i class="fas fa-angle-up"></i>
            <a class="return-up" href="">ƏVVƏLƏ QAYID</a>
        </div>
    </div>

</section>
<section id="mobile-body">
 
    <div class="container">
        <div class="row m-white">

        </div>
        <div class=" custom-row-categories  m-white ">
            <div class="m-categories-wrapper">

                @foreach (var item in Model.Categories.Where(x => x.ParentCategryId == null))
                {
                    <a data-id="@item.id" href="@Url.Action("category","home", new { id=item.id})" class="m-menu-element">
                        <figure>
                            <img src="~/Public/img/content/CategoryPhotos/small/@item.CategoryPhotos.FirstOrDefault().SmallPhoto" alt="">
                            <figcaption>
                                @item.Name
                            </figcaption>
                        </figure>
                    </a>
                }

            </div>
        </div>
        <!-- Gunun fursetleri -->
        <div class="row m-white">
            <div class="col-12">
                <h3 style="padding-left:10px;" class="section-header">Populyar məhsullar</h3>
            </div>
            <div class="col-12">
                <ul class="m-daily-sale">
                    @foreach (var item in Model.PopularItems.Take(3))
                    {
                        <li class="m-sale-li">
                            <a href="@Url.Action("item","home",new { id=item.id})" data-id="@item.id" class="link go-to-item" onclick="Local(this)">
                                <div class="furset-container d-flex justify-content-between">
                                    <div class="image">
                                        <img class="item-image" src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" alt="">

                                    </div>
                                    <div class="sale-text-wrapper">
                                        <span>@item.Name</span>
                                        <img src="~/Public/img/content/merch/@item.ItemMerches.OrderBy(x=>x.PriceNormal).FirstOrDefault().Merch.İmage" alt="">
                                        <div class="m-sale-pricing">

                                            <div class="sale-price">@item.ItemMerches.OrderBy(x => x.PriceNormal).FirstOrDefault().PriceNormal AZN<i class="fas fa-angle-right"></i></div>
                                        </div>

                                        <a href="" class="sale-gotomerch">@item.ItemMerches.OrderBy(x => x.PriceNormal).FirstOrDefault().LinkToOffer</a>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </div>
        <div class="row m-white">
            <div class="col-12">
                <h3 style="padding-left:10px;" class="section-header">Çox axtarılan sorğular</h3>
            </div>
            <div class="col-12">
                <div class="m-popular-search-requests owl-carousel">
                    <div>
                        <a href="">Samsung Cep Telefonları</a>
                    </div>
                    <div>
                        <a href="">Nike Spor Ayakkabı</a>
                    </div>
                    <div>
                        <a href="">Arçelik Buzdolapları</a>
                    </div>
                    <div>
                        <a href="">Arçelik Kahve Makineleri</a>
                    </div>
                    <div>
                        <a href="">Uğur Derin Dondurucular</a>
                    </div>
                    <div>
                        <a href="">Arçelik Televizyonlar</a>
                    </div>
                    <div>
                        <a href="">Xiaomi Cep Telefonları</a>
                    </div>
                    <div>
                        <a href="">Apple Cep Telefonları</a>
                    </div>
                    <div>
                        <a href="">Arçelik Çamaşır Makineleri</a>
                    </div>
                    <div>
                        <a href="">Karaca Yemek Takımı</a>
                    </div>
                    <div>
                        <a href="">Samsung Cep Telefonları</a>
                    </div>
                    <div>
                        <a href="">Nike Spor Ayakkabı</a>
                    </div>
                    <div>
                        <a href="">Arçelik Buzdolapları</a>
                    </div>
                    <div>
                        <a href="">Arçelik Kahve Makineleri</a>
                    </div>
                    <div>
                        <a href="">Uğur Derin Dondurucular</a>
                    </div>
                    <div>
                        <a href="">Arçelik Televizyonlar</a>
                    </div>
                    <div>
                        <a href="">Xiaomi Cep Telefonları</a>
                    </div>
                    <div>
                        <a href="">Apple Cep Telefonları</a>
                    </div>
                    <div>
                        <a href="">Arçelik Çamaşır Makineleri</a>
                    </div>
                    <div>
                        <a href="">Karaca Yemek Takımı</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Recently viewed items -->
        <div class="row m-white m-recent-row d-none">
            <div class="col-12">
                <h3 style="padding-left:10px;" class="section-header">Son axtardığınız məhsullar</h3>
            </div>
            <div class="col-12">
                <div class="m-recent-wrapper" id="m-recent">

                </div>
            </div>
        </div>
        <!-- First Category items -->
        <div class="row m-white">
            <h3 style="padding-left:10px;" class="section-header">@Model.CategoryIndexes.FirstOrDefault().Category.Name </h3>
            <br>
            @foreach (var item in Model.CategoryIndexes.First().Items.Take(4))
            {
                <div class="custom5">
                    <a class="go-to-item" onclick="Local(this)" href="@Url.Action("item", "home",new { id=item.id})" data-id="@item.id">
                        <div class="card card-item">
                            <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                @foreach (var merch in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                {
                                    <a class="link-merch" href="">
                                        <div class="source">@merch.Merch.Link</div>
                                        <div class="merch-price">@merch.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                    </a>
                                }

                                <a data-id="@item.id" href="@Url.Action("item","home",new { id=item.id})" class="btn btn-primary more-offers">Hamısına bax</a>
                            </div>

                        </div>
                    </a>
                </div>
            }

            <div class="gotocat d-flex justify-content-end">
                <a data-id="@Model.CategoryIndexes.FirstOrDefault().Category.id" href="@Url.Action("category","home",new { id=@Model.CategoryIndexes.FirstOrDefault().Category.id})" class="link-to-category">Bütün Məhsullara bax <i class="fas fa-angle-right"></i></a>

            </div>


        </div>
        <!-- Second Category items -->
        <div class="row m-white">
            <h3 style="padding-left:10px;" class="section-header">@Model.CategoryIndexes.Skip(1).First().Category.Name </h3>
            <br>
            @foreach (var item in Model.CategoryIndexes.Skip(1).First().Items.Take(4))
            {
                <div class="custom5">
                    <a class="go-to-item" onclick="Local(this)" href="@Url.Action("item", "home",new { id=item.id})" data-id="@item.id">
                        <div class="card card-item">
                            <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                @foreach (var merch in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                                {
                                    <a class="link-merch" href="">
                                        <div class="source">@merch.Merch.Link</div>
                                        <div class="merch-price">@merch.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                    </a>
                                }

                                <a data-id="@item.id" href="@Url.Action("item","home",new { id=item.id})" class="btn btn-primary more-offers">Hamısına bax</a>
                            </div>

                        </div>
                    </a>
                </div>
            }
            <div class="gotocat d-flex justify-content-end">
                <a href="" class="link-to-category">Bütün Məhsullara bax <i class="fas fa-angle-right"></i></a>

            </div>


        </div>
        <div class="row m-white">

            <div class="col-12">
                <h3 style="padding-left:10px;" class="section-header text-center">Populyar mağazalar</h3>
                <div class="m-merch-popular owl-carousel">
                    @foreach (var item in Model.Merches)
                    {
                        <div>
                            <a href="@item.LinkWeb">
                                <img src="~/Public/img/content/merch/@item.İmage" alt="">
                            </a>
                        </div>
                    }



                </div>
            </div>
        </div>
        <!-- Third Category items -->
        <div class="row m-white">
            <h3 style="padding-left:10px;" class="section-header">@Model.CategoryIndexes.Skip(2).First().Category.Name </h3>
            <br>
            @foreach (var item in Model.CategoryIndexes.Skip(2).First().Items.Take(4))
            {
            <div class="custom5">
                <a class="go-to-item" onclick="Local(this)" href="@Url.Action("item", "home",new { id=item.id})" data-id="@item.id">
                    <div class="card card-item">
                        <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            @foreach (var merch in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                            {
                                <a class="link-merch" href="">
                                    <div class="source">@merch.Merch.Link</div>
                                    <div class="merch-price">@merch.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                </a>
                            }

                            <a data-id="@item.id" href="@Url.Action("item","home",new { id=item.id})" class="btn btn-primary more-offers">Hamısına bax</a>
                        </div>

                    </div>
                    </a>
            </div>
            }
            <div class="gotocat d-flex justify-content-end">
                <a href="" class="link-to-category">Bütün Məhsullara bax <i class="fas fa-angle-right"></i></a>

            </div>


        </div>
        <!-- Fourth Category items -->
        <div class="row m-white">
            <h3 style="padding-left:10px;" class="section-header">@Model.CategoryIndexes.Skip(3).First().Category.Name </h3>
            <br>
            @foreach (var item in Model.CategoryIndexes.Skip(3).First().Items.Take(4))
            {
            <div class="custom5">
                <a class="go-to-item" onclick="Local(this)" href="@Url.Action("item", "home",new { id=item.id})" data-id="@item.id">
                    <div class="card card-item">
                        <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            @foreach (var merch in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                            {
                                <a class="link-merch" href="">
                                    <div class="source">@merch.Merch.Link</div>
                                    <div class="merch-price">@merch.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                </a>
                            }

                            <a data-id="@item.id" href="@Url.Action("item","home",new { id=item.id})" class="btn btn-primary more-offers">Hamısına bax</a>
                        </div>

                    </div>
                    </a>
            </div>
            }
            <div class="gotocat d-flex justify-content-end">
                <a href="" class="link-to-category">Bütün Məhsullara bax <i class="fas fa-angle-right"></i></a>

            </div>


        </div>
        <div class="row m-white">

            <div class="col-12">
                <h3 style="padding-left:10px;" class="section-header text-center">Populyar brendlər</h3>
                <div class="m-brand-popular owl-carousel">
                    @foreach (var item in Model.Brands)
                    {
                        <div>
                            <a>
                                <img src="~/Public/img/content/brand/@item.Logo" alt="">
                            </a>
                        </div>
                    }



                </div>
            </div>
        </div>
        <!-- Fifth Category items -->
        <div class="row m-white">
            <h3 style="padding-left:10px;" class="section-header">@Model.CategoryIndexes.Skip(4).First().Category.Name </h3>
            <br>
            @foreach (var item in Model.CategoryIndexes.Skip(4).First().Items.Take(4))
            {
            <div class="custom5">
                <a class="go-to-item" onclick="Local(this)" href="@Url.Action("item", "home",new { id=item.id})" data-id="@item.id">
                    <div class="card card-item">
                        <img src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            @foreach (var merch in item.ItemMerches.OrderBy(x => x.PriceNormal).Take(2))
                            {
                                <a class="link-merch" href="">
                                    <div class="source">@merch.Merch.Link</div>
                                    <div class="merch-price">@merch.PriceNormal AZN<i class="fas fa-angle-right"></i> </div>
                                </a>
                            }

                            <a data-id="@item.id" href="@Url.Action("item","home",new { id=item.id})" class="btn btn-primary more-offers">Hamısına bax</a>
                        </div>

                    </div>
                    </a>
            </div>
            }
            <div class="gotocat d-flex justify-content-end">
                <a href="" class="link-to-category">Bütün Məhsullara bax <i class="fas fa-angle-right"></i></a>

            </div>


        </div>
        <div class="row m-white ">
            <h3 style="padding-left:10px;" class="section-header text-center">İnternetdə Ən Yaxşı Qiymətləri Siyahıya Aldıq</h3>
            <div class="custom5">
                <a>
                    <div class="subheader">Tozsoranlar</div>
                    <img class="promo-mobile-img" src="~/Public/img/mobile/index/1.png" alt="">
                </a>
            </div>
            <div class="custom5">
                <a>
                    <div class="subheader">Paltaryuyan maşınları</div>
                    <img class="promo-mobile-img" src="~/Public/img/mobile/index/2.png" alt="">
                </a>
            </div>
            <div class="custom5">
                <a>
                    <div class="subheader">Soyuducular</div>
                    <img class="promo-mobile-img" src="~/Public/img/mobile/index/3.png" alt="">
                </a>
            </div>
            <div class="custom5">
                <a>
                    <div class="subheader">Qabyuyan maşınları</div>
                    <img class="promo-mobile-img" src="~/Public/img/mobile/index/4.png" alt="">
                </a>
            </div>
        </div>
        <div class="row m-white m-cat-adv">
            <a href="@Url.Action("category", "home",new {id=22 })"><img src="~/Public/img/categories-adv/1.jpg" alt=""></a>
            <a href="@Url.Action("category", "home",new {id=36 })"><img src="~/Public/img/categories-adv/2.jpg" alt=""></a>
            <a href="@Url.Action("category", "home",new {id=37 })"><img src="~/Public/img/categories-adv/3.jpg" alt=""></a>
        </div>
        <div class="row m-white">
            <h3 style="padding-left:10px;" class="section-header text-center">Saytın Seçimi</h3>
            @foreach (var item in Model.SiteSelect.Take(3))
            {
                <div class="col-12">
                    <a href="" class="link-to-site-select">
                        <img class="m-site-select-img" src="~/Public/img/content/item/@item.ItemPhotos.FirstOrDefault().Photo" alt="">
                        <div class="m-site-select ">
                            <div class="m-site-select-title">@item.Name</div>
                            <h2>
                                @item.ItemMerches.OrderBy(x => x.PriceNormal).FirstOrDefault().PriceNormal
                                <small>azn</small>
                                <i class="fas fa-angle-right"></i>
                            </h2>
                        </div>
                    </a>
                </div>
            }

        </div>
        <div class="row m-white ">
            <h3 style="padding-left:10px;" class="section-header text-center">İnternetdə Ən Yaxşı Qiymətləri Siyahıya Aldıq</h3>
            <div class="custom5">
                <a>
                    <div class="subheader">Tozsoranlar</div>
                    <img class="promo-mobile-img" src="~/Public/img/mobile/index/1.png" alt="">
                </a>
            </div>
            <div class="custom5">
                <a>
                    <div class="subheader">Paltaryuran maşınları</div>
                    <img class="promo-mobile-img" src="~/Public/img/mobile/index/2.png" alt="">
                </a>
            </div>
            <div class="custom5">
                <a>
                    <div class="subheader">Soyuducular</div>
                    <img class="promo-mobile-img" src="~/Public/img/mobile/index/3.png" alt="">
                </a>
            </div>
            <div class="custom5">
                <a>
                    <div class="subheader">Qabyuyan maşınlar</div>
                    <img class="promo-mobile-img" src="~/Public/img/mobile/index/4.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="row bottom m-white" style="margin-bottom:0px!important">
        <a href="" class="back-to-top">
            <i class="fas fa-angle-up"></i>
            Əvvələ qayıd
        </a>
    </div>
</section>


